#!/usr/bin/make -f


%:
	dh --with codeigniter $@

override_dh_installinit:
	dh_installinit --name=bubba-adminphp --restart-after-upgrade

override_dh_codeigniter:
	dh_codeigniter --destdir=/usr/share/web-admin/admin -x

override_dh_install:
	dh_install
	install -m 644 -D php5-cgi-xcache.ini debian/bubba-backend/etc/php5/cgi/conf.d/xcache.ini
