#!/usr/bin/make -f


%:
	dh --with codeigniter $@

override_dh_installinit:
	dh_installinit --name=bubba-adminphp --restart-after-upgrade

override_dh_codeigniter:
	dh_codeigniter --destdir=/usr/share/web-admin/admin -x
