* {margin: 0;padding: 0;}
html, body{ height: 100%;}
body {font-size:62.5%;font-family: Helvetica, Arial, sans-serif; bottom right no-repeat fixed;color: #000;background-image:url(../_img/background.svg);}
h1 {line-height: 1em;font-size: 1.8em;font-weight: normal;}
h2 {line-height: 1em;font-size: 1.5em;font-weight: normal;margin: 1.2em 0 0 0;}
h3 {font-size: 1.3em;font-weight: bold;margin: 0.6em 0 0 0;}
p {line-height: 1.6em;font-size: 1.3em;padding: 0.2em 0 0.5em 0;}
form {margin: 1em 0;}
form form {margin: 0;}
fieldset {border: 0;margin-top: 1em;}
legend {padding: 0.2em 1em;}
legend a {margin:0 3px;text-transform:capitalize;}
input {background:#fff;padding: 0.2em;margin: 0.2em;}
input[type=submit],input[type=button] {background:#000;padding: 0.2em;margin: 0.2em;color:white;font-weight:bold;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;border:0}
input[type=text],input[type=password] {vertical-align:text-bottom;padding-bottom: 0px;font-weight:bold;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;border: 0.1em solid #999;}
input[disabled]{	color: #666;	background: #ccc;}
input.checkbox_radio {	background: url(../_img/1x1.png) no-repeat;	border: 0px;}
input:focus {border: 0.2em solid #999;}
table {border-collapse: collapse;margin: 1em 0;font-size: 1.3em;}
td {padding: 0.5em 1.2em;vertical-align: top;}
th {padding: 0.5em 1.2em;text-align: left;}
ul {list-style: square;list-style-position: outside;}
ul ul{}
li{padding: 0.2em 0 0.2em 0;}
li {display:inline;}
a {color: #000;}
img{border: 0;}
/* WRAPPER */
#wrapper{min-height: 100%;width:1020px;margin: 0 auto;background:#ddd;padding:0.5em;max-width:96%;padding-left:3em;padding-top:2em;}
/* LOGIN */

/* HEADER */ /* NAV */ /* SUB NAV */ /* TOP NAV */
#logo {font-size:300%;font-weight:normal;color:#000;text-decoration:none;}
#img_logo {}
#header {padding:0.5em;margin-top:2em;}
#header li {color: #000;padding:0.1em;line-height: 1em;border-right:2px #000 solid;text-align:center;}
#header li a {color: #000;text-decoration: none;margin-right:0.3em}
#header li a:hover {color: #999;}
#header li.active a {color:#506ab2;}
#nav ul{font-size: 160%;margin: 0;list-style: none;font-weight:bold;margin-top:1em;}
#topnav {float:right;left:70%;position:fixed;top:3%;width:40%;}
#topnav a {}
#topnav_status {margin-right:10%;font-weight:bold;}
#subnav {font-size: 120%;list-style: none;margin-top:0.8em;}
#subnav ul:after {content: ".";height: 0;clear: both;visibility: hidden;}
#subnav ul li {border-right:1px #000 solid;padding-left:0.3em;}
#subnav ul li a{color: #000;text-decoration: none;padding: 0.1em;}
#subnav ul li.last a {border: 0;}
div#subnav ul li a:hover {color: #999;}
/* CONTENT */
#content {margin-bottom:3em;}
/* SIDE BOARD */
#sideboard {float:right;width:25%;display:none;}
#sideboard_switch {margin:left:8%;background:#000;float:right:}


.ui-filemanager-state-dblckick {
	background: #ee6622 !important; 
}

*:not(.ui-fake) .ui-filemanager-state-hover:hover {
	background: #aa7676;
}

.ui-filemanager-state-selected {
	background: #881212;
}

*:not(.ui-fake) .ui-filemanager-state-selected.ui-filemanager-state-hover:hover {
	background: #a25656 !important;
}

.ui-filemanager-prev-arrow, .ui-filemanager-next-arrow {
	font-size: larger;
	font-weight: bold;
	color: blue;
}
.ui-filemanager-prev-arrow:hover, .ui-filemanager-next-arrow:hover {
	cursor: pointer;
}

.ui-filemanager-path-widget .ui-filemanager-path-divider {
	margin: 1em;
}

.ui-filemanager-path-widget .ui-filemanager-path-link {
	cursor: pointer;
	color: blue !important;
}

.ui-filemanager-path-widget {
	float: left;
	font-size: larger;
}

.ui-filemanager-type-file {
border-left: 2px solid #3232aa;
}

.ui-filemanager-type-dir {
border-left: 2px solid #aa3232;
}

.ui-filemanager-type-row {
	cursor: pointer;
}

.ui-buttonbar {
	float: right;
	margin: 0 4px;
}
.ui-input-text {
	width: 100%;
}
