* {margin: 0;padding: 0;}
html, body{ height: 100%;}
body {font-size:62.5%;font-family: Helvetica, Arial, sans-serif; bottom right no-repeat fixed;color: #000;background:#DDD;}
h1 {line-height: 1em;font-size: 1.8em;font-weight: normal;}
h2 {line-height: 1em;font-size: 1.5em;font-weight: normal;margin: 1.2em 0 0 0;}
h3 {font-size: 1.3em;font-weight: bold;margin: 0.6em 0 0 0;}
p {line-height: 1.6em;font-size: 1.3em;padding: 0.2em 0 0.5em 0;}
form {margin: 1em 0;}
form form {margin: 0;}
fieldset {border: 0;} //RENSA BORT VID SLUTCHECK
input {background:#fff;padding: 0.2em;margin: 0.2em;}
input[type=submit],input[type=button] {padding: 0.2em;margin: 0.2em;color:white;font-weight:bold;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;border:0;font-size:110%;background-image:url(../_img/icons.png);background-repeat:overflow:hidden;background-position: -6px -138px;}
input[type=submit]:hover,input[type=button]:hover {border:0;opacity:0.5 !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;filter: alpha(opacity=50) !important;}
input[type=submit]:focus,input[type=button]:focus {border:0}
input[type=text],input[type=password] {vertical-align:text-bottom;padding:0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;border: 0.1em solid #999;}
input[disabled]{	color: #666;	background: #ccc;}
input:focus {border: 0.1em solid #000;}
input[type=radio] {}
input[type=checkbox] {}
table {margin: 1em 0;font-size: 1.3em;border-collapse : collapse;border:0;width:100%; }
select {width:49%;}
td {padding: 0.5em 1.2em;vertical-align: top;}
tr {border-bottom:0.1em solid #999}
th {padding: 0.3em 0.5em;text-align: left;}
ul {list-style: square;list-style-position: outside;}
ul ul{}
li{padding: 0.2em 0 0.2em 0;}
li {display:inline;}
a {color: #000;}
img{border: 0;}
/* WRAPPER */
#wrapper {min-height: 100%;width:1020px;margin: 0 auto;padding:0em;max-width:96%;padding-left:3em;padding-top:2em;background-image:url(../_img/background.png);border:0.1em solid #000;border-right:0.45em solid #000;}
/*UPDATE STATUS*/
#update_status {color:000;background-color:#fbec9d;font-size:120%;left:48%;margin:auto;padding:0.2em;position:fixed;text-align:center;top:0;width:auto;}
/* HEADER */ /* NAV */ /* SUB NAV */ /* TOP NAV */
#logo {font-size:300%;font-weight:normal;color:#000;text-decoration:none;}
#img_logo {}
#header {margin-top:2em;margin-bottom:1em}
#header li {color: #000;padding:0 0.1em;border-right:2px #000 solid;text-align:center;}
#header li a {color: #000;text-decoration: none;margin-right:0.3em}
#header li a:hover {color: #999;}
#header li.active a {color:#506ab2;}
#header li.last {border-right:none;}
#nav ul{font-size: 160%;margin: 0;list-style: none;font-weight:bold;margin-top:1em;}
#topnav {float:right;left:72%;top:3%;width:29%;}
#topnav a, #topnav span {float:left;}
#topnav_status {margin-right:10%;font-weight:bold;margin-top:2.5%;}
#topnav button {border:0;background:transparent;margin-right:0.8em}
#topnav button:hover {opacity:0.5 !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;filter: alpha(opacity=50) !important;}
/*#topnav button:hover {border-bottom:0.1em solid black;}*/
#subnav {font-size: 120%;list-style: none;margin-top:0.8em;}
#subnav ul:after {content: ".";height: 0;clear: both;visibility: hidden;}
#subnav ul li {border-right:1px #000 solid;padding-top:0;}
#subnav ul li a{color: #000;text-decoration: none;padding: 0.1em;}
#subnav ul li.last a {border: 0;}
div#subnav ul li a:hover {color: #999;}
/*LOGIN VIEW*/
#login h1 {font-size:120%;margin-bottom:2em;}
#login_more_info {display:block;margin-top:25em;font-size:145%;position:absolute;bottom:2%;}
#login_more_info span{display:block;}
#login_more_info a {font-size:130%;text-decoration:none;margin-right:0.3em;font-weight:bold;}
#login_more_info a:hover {color:#506ab2;}
#login_more_info img{display:block;margin-top:1.5em;}
#login_menubar {margin-top:3em;}
.ui-login-menubar-a  {text-decoration:none;height:100px;margin-right:20px;padding-top:75px;font-weight:bold;text-align:center;}
.ui-login-menubar-a span  {display:none;font-size:150%;}
/* CONTENT */
#content {margin-bottom:3em;padding-top:2em;float:left;width:95%}
/* SIDE BOARD */
#sideboard {float:right;width:20%;margin-top:-2em;display : none}
#sideboard-datetime-date {font-size: 10em;font-weight: bold;margin:0 0 -0.3em;}
#sideboard-datetime-day {font-size: 3em;font-weight: bold;}
#sideboard-datetime-month {font-size: 1.5em;font-weight: bold;}
#sideboard-datetime-year {font-size: 1.5em;font-weight: bold;}
#sideboard-clock-digital {font-size: 1.5em;font-weight: bold;}
#sideboard_switch {margin:left:8%;float:right !important;font-size:180%;color:white;text-decoration:none !important;padding-left:0.3em;background-image:url(../_img/icons.png);width:15px; height:30px;background-position: -85px -224px;}
/* HOME MENU */
#menu {position:fixed;top:35%;left:20%;width:auto;z-index:3;background:white;padding:1.5em;height:10.5em;}
#menu_close {float:right;margin-top:-85px;}
#menu li a{margin-right:16px;}
#menu li a span{float:right;}
#menu li div {display:inline;width:74px;}
.default-icon {width:74px; height:74px; background-image:url(../_img/icons_home.png);background-repeat:no-repeat;display:block;overflow:hidden;float:left;}
.default-icon-lock {width:74px; height:74px; background-image:url(../_img/icons_home_lock.png);background-repeat:no-repeat;display:block;overflow:hidden;float:left;}
.default-icon-mail {background-position: 0 0;}
.default-icon-settings {background-position: -90px 0;}
.default-icon-clock {background-position: -180px 0;}
.default-icon-album {background-position: -362px 0;}
.default-icon-printing {background-position: -270px 0;}
.default-icon-filemanager {background-position: -454px 0;}
.default-icon-downloads {background-position: -544px 0;}
.default-icon-music {background-position: -635px 0;}
.default-icon-logout {background-position: -726px 0;}
#settings form {display:inline}
/*UI ICON SET*/
.ui-icons {background-image:url(../_img/icons.png);background-repeat:no-repeat;display:block;overflow:hidden;float:left;}
.ui-icon-help {width:15px; height:30px;background-position: -68px -224px;}
.ui-icon-home {width:20px; height:30px;background-position: -5px -224px;;}
.ui-icon-logout {width:24px; height:30px;background-position: -35px -224px;}
.ui-icon-back {width:14px; height:10px;background-position: -138px -197px;}
.ui-icon-next {width:7px; height:30px;background-position: -170px -196px;}
.ui-icon-on {width:65px; height:21px;background-position: -52px -4px;}
.ui-icon-off {width:65px; height:21px;background-position: -170px -35px;}
/*FILE MANAGER*/
#filetable {font-size:135%;}
#filetable_paths {padding-top:10px;}
#filetable_paths a {color:#000;margin:0 3px;text-transform:capitalize;}
#filetable tbody .row-selected * {background: #506ab2;}
#filetable:not(.clone) {cursor: pointer}
#filetable:not(.clone) tbody tr:hover * {background-color: #999}
#filetable:not(.clone) tbody tr.row-selected:hover * {	background-color: #999 !important}
#filetable_processing {padding: 30px; display: inline;}
#filetable_wrapper button {border:0;}
#filetable span {float:left !important;}
#fn-filemanager-information-panel {font-size:120%;width:400px;padding:0.4em;}
.ui-corner-all {-moz-border-radius: 0 !important;-webkit-border-radius: 0 !important; }
.ui-filemanager-state-dblckick {background-color:#fbec9d !important; }
*:not(.ui-fake) .ui-filemanager-state-hover:hover {	background-color: #aa7676;}
.ui-filemanager-state-selected {background-color: #506ab2;}
*:not(.ui-fake) .ui-filemanager-state-selected.ui-filemanager-state-hover:hover {background-color: #999 !important;}
.ui-filemanager-prev-arrow, .ui-filemanager-next-arrow {font-size: larger;	font-weight: bold;color:#506ab2;}
.ui-filemanager-prev-arrow:hover, .ui-filemanager-next-arrow:hover {cursor: pointer;}
.ui-filemanager-path-widget .ui-filemanager-path-divider {margin: 0.1em;}
.ui-filemanager-path-widget .ui-filemanager-path-link {cursor: pointer;}
.ui-filemanager-path-widget {float: left;font-size: larger;}
.ui-filemanager-type-file {}
.ui-filemanager-type-dir {}
.ui-filemanager-type-row {cursor: pointer;}
.ui-button-set {float:right;margin:0 4px;}
.ui-input-text {width: 100%;}
.ui-text-center {	text-align : center;}
.ui-button-text:hover {color:#999;}
.ui-element-width-100 {width:100% !important;}
.ui-element-width-50 {width:50% !important;}
.ui-help-box, .ui-help-box .ui-widget-header {background:#000;color:white !important;}
.ui-help-box {-moz-border-radius: 0.8em !important;-webkit-border-radius: 0.5em !important;opacity:0.9 !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;filter: alpha(opacity=90) !important;font-size:130%;}
.ui-help-box a {color:white !important;}
.ui-help-box a:hover {color:white !important}
.ui-fake-updir {background:#EEE}
/*DISK*/
table.typetable > tbody > tr > td {	vertical-align : middle;	padding : 0.5em 0.5em;}
table.typetable > tbody > tr > th {	padding : 0.5em 0.5em;}
table.disks {	width: 100%;	margin : 0px;}
table.disks > tbody > tr > td {	vertical-align : middle;}
table.disks > tbody > tr > th {	padding : 0.5em 0.2em;}
table.disks > tbody > tr > td.partitions {	padding: 2px;	width: 350px;	height: 100%;}
th.col1 {	width : 100px;}
th.path {	width : 250px;}
div.mount {	float: right !important;}
table.partitions {	font-size: 1em;	width: 100%;	padding: 0px;	margin: 0px;}
table.partitions > tbody > tr > td { 	padding: 0px;}
.partition {padding: 0;	vertical-align: middle;	text-align: center;	color: #000;font-size: 0.8em;	font-weight: bold;	font-family: sans-serif;	text-decoration: none;	height : 25px;}
td.colorcode {	text-align : center;}
div.colorcode {	width : 15px;	height : 15px;}
/*
 * perl -MGraphics::ColorObject -e 'foreach(0..21) { printf "td.partition-%d { background-color: #%s }\n", $_, Graphics::ColorObject->new_HSL([67+$_*73, .6, .6 ])->as_RGBhex() }'
 */
.partition-0 { background-color: #C8D65C }
.partition-1 { background-color: #5CD685 }
.partition-2 { background-color: #5C93D6 }
.partition-3 { background-color: #BA5CD6 }
.partition-4 { background-color: #D65C5E }
.partition-5 { background-color: #BED65C }
.partition-6 { background-color: #5CD68F }
.partition-7 { background-color: #5C89D6 }
.partition-8 { background-color: #A9D65C }
.partition-9 { background-color: #5CD6A3 }
.partition-10 { background-color: #5C74D6 }
.partition-11 { background-color: #D65CD4 }
.partition-12 { background-color: #D6785C }
.partition-13 { background-color: #9FD65C }
.partition-14 { background-color: #5CD6AD }
.partition-15 { background-color: #C45CD6 }
.partition-16 { background-color: #D6645C }
.partition-17 { background-color: #B4D65C }
.partition-18 { background-color: #5CD699 }
.partition-19 { background-color: #5C7ED6 }
.partition-20 { background-color: #CE5CD6 }
.partition-21 { background-color: #D66E5C }
.partition-e { background-color: #E62323 }
.partition-system { background-color: #5C5C5C }
div.text input {	vertical-align : middle;}
div.text label {	margin-right : 15px;}
input.mount {width : 75px;	margin : 0;}


.ui-filemanager-information-panel {	height: 3em;background: #efdfad;border: 2px solid #dfcf9d;width: 600px;opacity: .95;	position: absolute;	text-align: center;}
.ui-action-panel button {border: 0;}
.ui-action-panel {position: absolute;border: 0;}
.ui-helper-inline {	display: inline;	display: inline-block;	vertical-align: bottom;}
.ui-dialog-title {font-size:140%;text-align:center;width:100%;padding-top:2em;}
