.treelayout li {
	display: block;
}

li.selected {
	background-color : #506AB2;
}
.treelayout li a {
	color : #000 !important;
}
.treelayout li a.selected {
	color : #fff;
}	
.treelayout input[type=button] {
	display: inline;
}

table#backup tr{
	line-height : 18px;
}

table#backup th{
	text-align : left;
	padding-left : 1.2em;
}
table#backup td{
	font-size : 11px;
}
table#backup td.ui-filemanager-backup-header{
	font-size : 14px;
	line-height : 31px;
}

table#backup td.ui-filemanager-backup-subheader{
	line-height : 25px;
}

table#backup td.backupjobs {
	width : 115px;
}
table#backup td.filemanager-backup-files {
	width : 175px;
}
table#backup td.backupsettings {
	margin : 0px;
}

table#backup .filemanager-backup-border-right {
	//border-right:0.1em solid #ccc;
}

table#backup input {	
	width : 75px;
	margin:0;
	margin-bottom: 3px;
	display : inline;
	font-size : 11px;
}

table#backup tr.subhead {
	height : 2em;
}

input.incexc {
	width : 60px;
}

table#backup div.error {
	color : red;
}

table.tbl_settings {	
	margin : 0px;
	padding : 0px;
	padding-left : 5px;
}
table.tbl_settings td{
	padding : 2px 2px;
	vertical-align : middle;

}
table.tbl_settings td.size1{
	width : 110px;
}

table.tbl_settings td.tight{
	width : 80px;
}

div#settings input {
	width : 125px;
}

div#settings input[type=checkbox]{
	margin : 0px;	
	padding : 0px;
	width : 10px;
}

div#settings select{
	width : 134px;
	font-size : 11px;
}
div#settings option{
	font-size : 11px;
}

div#current_jobs{
	min-height : 30px;
	max-height : 150px;
	padding-bottom : 20px;
	overflow : auto;
}
div#current_incfiles{
	min-height : 30px;
	max-height : 100px;
	padding-bottom : 20px;
	overflow : auto;
}
div#current_excfiles{
	min-height : 25px;
	max-height : 100px;
	padding-bottom : 20px;
	overflow : auto;
}
div.files:hover{
	cursor : pointer;
}

fieldset.fld_settings {
	margin : 2px;
	padding : 0px;
	width : 100%;
}


div#backup_header {	
	text-align:left;
	vertical-align: middle;
	height:31px;
	font-weight:bold;
}


div.jobs {
	padding-left : 5px;
	padding-right : 5px;
	float : left;
	width : 100px;
	height : 100%;
}
div.date {
	padding-left : 5px;
	padding-right : 5px;
	float : left;
	width : 100px;
	height : 100%;
}
div.status {
	padding-left : 5px;
	padding-right : 5px;
	float : left;
	width : 140px;
	height : 100%;
}	
div.backupfiles {
	padding-left : 5px;
	padding-right : 5px;
	float : left;
	width : 450px;
	bottom : 0px;
}

div#current_files {
	min-height : 150px;
	max-height : 300px;
	overflow : auto;
}
div#current_dates {
	max-height : 300px;
	overflow : auto;
}
div#current_jobs {
	max-height : 300px;
	overflow : auto;
}
.selected {
	background: #506AB2;
	color:white;
	padding-left:3px;
}

.subselected {
	background: #005b83;
	color:white;
	padding-left:3px;
}

td.restoreinfo {
	width : 400px;
}

input.cb_force {
	margin : 2px;
	
}

div.force_settings {
	vertical-align: middle;
	margin-top: 10px;
}
div.force_settings input{
	vertical-align: middle;
	margin-left : 5px;
	margin-right : 5px;
}

div.c_link {
	text-decoration : underline;
}
div.c_link:hover {
	cursor : pointer;
}
span.hidden {
	display : none;
}
span.underline {
	text-decoration : underline;
}
div.backup_tree_header {
	margin : 10px 0;
	font-weight : bold;
}
input#backup_restore {	
	margin-top : 10px;
}

.treelayout {
	margin : 0 0 15px 50px;	
}

