.selected
{
	background:#506AB2;
	color:#FFF;
	padding-left:3px;
}

.subselected
{
	background:#607AC2;
	color:#FFF;
	padding-left:3px;
}

.treelayout
{
	margin:0 0 15px 50px;
}

.treelayout input[type=button]
{
	display:inline;
}

.treelayout li
{
	display:block;
}

.treelayout li a
{
	color:#000!important;
}

.treelayout li a.selected
{
	color:#fff;
}

div#backup_header
{
	font-weight:700;
	height:31px;
	text-align:left;
	vertical-align:middle;
}

div#current_dates
{
	max-height:300px;
	overflow:auto;
	width:130px;
}

div#current_excfiles
{
	max-height:100px;
	min-height:25px;
	overflow:auto;
	padding-bottom:20px;
}

div#current_files
{
	max-height:300px;
	min-height:150px;
	overflow:auto;
}

div#current_incfiles
{
	max-height:100px;
	min-height:30px;
	overflow:auto;
	padding-bottom:20px;
}

div#current_jobs
{
	max-height:300px;
	min-height:30px;
	overflow:auto;
	padding-bottom:20px;
}

div#settings input
{
	width:125px;
}

div#settings input[type=checkbox]
{
	margin:0;
	padding:0;
	width:10px;
}

div#settings select
{
	font-size:11px;
	width:134px;
}

div.backup_tree_header
{
	font-weight:700;
	margin:10px 0;
}

div.backupfiles
{
	bottom:0;
	padding-left:5px;
	padding-right:5px;
}

div.c_link,span.underline
{
	text-decoration:underline;
}

div.date
{
	height:100%;
	padding-left:5px;
	padding-right:5px;
	width:100px;
}

div.files:hover,div.c_link:hover
{
	cursor:pointer;
}

div.force_settings
{
	margin-top:10px;
	vertical-align:middle;
}

div.force_settings input
{
	margin-left:5px;
	margin-right:5px;
	vertical-align:middle;
}

div.jobs
{
	height:100%;
	padding-left:5px;
	padding-right:5px;
	width:75px;
}

div.status
{
	height:100%;
	padding-left:5px;
	padding-right:5px;
	width:140px;
}

fieldset.fld_settings
{
	margin:2px;
	padding:0;
	width:100%;
}

input#backup_restore
{
	margin-top:10px;
	width:125px!important;
}

input.cb_force
{
	margin:2px;
}

input.incexc
{
	width:60px;
}

li.selected
{
	background-color:#506AB2;
}

span.hidden
{
	display:none;
}

table#backup div.error
{
	color:red;
}

table#backup input
{
	display:inline;
	font-size:11px;
	margin:0 0 3px;
}

table#backup td.backupjobs
{
	width:115px;
}

table#backup td.backupsettings
{
	margin:0;
}

table#backup td.filemanager-backup-files
{
	width:175px;
}

table#backup td.ui-filemanager-backup-header
{
	font-size:14px;
	line-height:31px;
}

table#backup td.ui-filemanager-backup-subheader
{
	line-height:25px;
}

table#backup th
{
	padding-left:1.2em;
	text-align:left;
}

table#backup tr.data
{
	line-height:18px;
}

table#backup tr.data td,div#settings option
{
	font-size:11px;
}

table#backup tr.subhead
{
	height:2em;
}

table.tbl_settings
{
	margin:0;
	padding:0 0 0 5px;
}

table.tbl_settings td
{
	padding:2px;
	vertical-align:middle;
}

table.tbl_settings td.size1
{
	width:110px;
}

table.tbl_settings td.tight
{
	width:80px;
}

td.restoreinfo
{
	width:400px;
}
