#network #firewall select {
	width: 70px !important;

}
.ui-dialog select {
  width: 70%;
}
.msie fieldset.fld_settings legend {
	margin-top : 0px;
}

input[type=submit],input[type=button],button.submit {
  min-width : 0;
}

#header li a {
  margin-left: 3px;
}

table.ui-table-outline td {
	border-top : 1px solid #bbb;
	border-bottom : 1px solid #bbb;
}
