*{
margin: 0;
padding: 0;
}
html, body{
height: 100%;
}
body{
font-size:62.5%;
font-family: "Tahoma", "DejaVu Sans", sans-serif;
background: url(../_img/background_logo_s.png) bottom right no-repeat fixed;
color: #fff;
}
h1{
line-height: 1em;
font-size: 1.8em;
font-weight: normal;
}
h2{
line-height: 1em;
font-size: 1.5em;
font-weight: normal;
margin: 1.2em 0 0 0;
}
h3{
font-size: 1.3em;
font-weight: bold;
margin: 0.6em 0 0 0;
}
p{
line-height: 1.6em;
font-size: 1.3em;
padding: 0.2em 0 0.5em 0;
}
.content h3{
font-size: 1.3em;
font-weight: normal;
margin: 0.8em -30px 0 -30px;
padding: 0.4em 1em 0.4em 1em;
background: #0091d1;
}
.content h3 a{
color: #fff;
text-decoration: none;
}
table{
border-collapse: collapse;
margin: 1em 0;
font-size: 1.3em;
}
table.full{
width: 100%;
}
table tr.odd{
background: #303030;
}
table tr.even{
background: #202020;
}
table tr.subhead{
}
table td{
padding: 0.5em 1.2em;
vertical-align: top;
}
table th{
padding: 0.5em 1.2em;
text-align: left;
}
th.description{
width: 40%;
}
th.filename{
width: 30%;
}
th.right, td.right{
text-align: right;
padding-right: 1em;
}
ul{
font-size: 1.3em;
list-style: square;
list-style-position: outside;
margin-left: 2.4em;
}
ul ul{
font-size: 1em;
}
li{
padding: 0.2em 0 0.2em 0;
line-height: 1.6em;
}
a{
color: #0091d1;
}
img{
border: 0;
}
img.left{
float: left;
margin-right: 2em;
}
img.right{
float: right;
margin-left: 2em;
}
div.clear{
clear: both;
height: 0;
}
/*
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::	Sitewrapper
*/
div#site_wrapper{
min-height: 100%;
width: 860px;
margin: 0 auto;
background: #000;
}
*html div#site_wrapper{
height: 100%;
}
div#site{
width: 860px;
}
/*20px
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::	Login
*/
body#body_login{
}
body#body_login div#site_wrapper{
width: 400px;
background: none;
padding: 0;
margin: 0 auto;
}
body#body_login div#site{
width: 380px;
}
body#body_login div#header_wrapper{
display: none;
}
body#body_login h1.segment_title{
}

body#body_login  h1.segment_title{
background: #0091d1 url(../_img/segment_title_360_t.gif) top left no-repeat;
}
body#body_login  h1.segment_title span.title{
background: url(../_img/segment_title_360_b.gif) bottom right no-repeat;
}
/*
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::	Header
*/
div#header_wrapper{
background: #fff;
}
div#header{
height: 60px;
background: url(../_img/excito_logo.gif) top left no-repeat;
background: #000;
}
div#header div#logo{
float: left;
background: url(../_img/excito_logo_bg_black.gif) center center no-repeat;
margin-right: -300px;
height: 50px;
width: 130px;
padding: 5px;
}
/*
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::	Footer
*/
div#footer{
clear:both;
text-align: center;
color: #808080;
padding: 0.2em;
background: #000;
}
/*
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::	Segment
*/
div.segment{
background: #000;
padding: 10px 0;
border-top: 10px solid #fff;
}
h1.segment_title{
font-size: 1.8em;
background: #0091d1 url(../_img/segment_title_t.gif) top left no-repeat;
margin: 0 10px;
line-height: 24px;
}
h1.segment_title img.icon{
display: inline;
vertical-align: middle;
margin-right: 10px;
}
h1.segment_title span.title{
background: url(../_img/segment_title_b.gif) bottom right no-repeat;
display: block;
padding: 0.3em 10px;
}
h1.segment_title span.help{
display: block;
float: right;
padding: 0.3em 10px;
}
h1.segment_title span.help a{
color: #fff;
text-decoration: none;
font-size: 0.6em;
}
h1.segment_title span.help a:hover{
color: #ccc;
}
/*
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::	Content
*/
div.content{
background: url(../_img/segment_bg.gif);
}
div.content div.header{
background: url(../_img/segment_bg_t.gif) top no-repeat;
}
div.content div.footer{
background: url(../_img/segment_bg_b.gif) bottom no-repeat;
padding: 2em 20px;
}
div.content_viewport{
background: url(../_img/segment_bg.gif);
}
div.content_viewport div.header{
background: url(../_img/segment_bg_t.gif) top no-repeat;
}
div.content_viewport div.footer{
background: url(../_img/segment_bg_b.gif) bottom no-repeat;
padding: 2em 15px;
}
/*
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::	Top navigation
*/
a[rel^=external] { color:#fff !important; }
div#nav{
float: right;
background: #0091d1 url(../_img/nav-round-blue-bl.gif) bottom left no-repeat;
margin-right: 10px;
}
div#nav ul{
font-size: 1em;
margin: 0;
list-style: none;
background: url(../_img/nav-round-blue-br.gif) bottom right no-repeat;
}
div#nav ul:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
div#nav ul li{
float: left;
font-size: 1.2em;
padding: 0.8em 0 0.6em 0;
line-height: 1em;
}
div#nav ul li a{
display: block;
color: #fff;
text-decoration: none;
padding: 0 1em;
border-right: 1px solid #fff;
line-height: 1em;
}
div#nav ul li.last a{
border: 0;
}
div#nav ul li a:hover{
color: #eaeaea;
}
div#nav ul li.active a{
text-decoration: underline;
}
div#nav ul li.active a:hover{
cursor: default;
}
/*
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::	Sub navigation
*/
div#breadcrumbs{
float: left;
font-size: 1.2em;
padding: 0 0 0.6em 10px;
line-height: 1em;
color: #555;
margin: 0 10px 10px 10px;
}
div#breadcrumbs a{
text-decoration: none;
color: #666;
font-weight: bold;
}
a[rel^=external] { color:#fff !important; }
div#sub_nav{
float: right;
background: #0091d1 url(../_img/nav-round-blue-bl.gif) bottom left no-repeat;
margin: -10px 10px 10px 10px;
}
div#sub_nav ul{
font-size: 1em;
margin: 0;
list-style: none;
background: url(../_img/nav-round-blue-br.gif) bottom right no-repeat;
}
div#sub_nav ul:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
div#sub_nav ul li{
float: left;
font-size: 1.2em;
padding: 0.8em 0 0.6em 0;
line-height: 1em;
}
div#sub_nav ul li a{
display: block;
color: #fff;
text-decoration: none;
padding: 0 1em;
border-right: 1px solid #fff;
line-height: 1em;
}
div#sub_nav ul li.last a{
border: 0;
}
div#sub_nav ul li a:hover{
color: #eaeaea;
}
div#sub_nav ul li.active a{
	text-decoration: underline;
}
div#sub_nav ul li.active a:hover{
	cursor: default;
}

table.blank {
	border: transparent;
	background: transparent;
	font-size: 1em;
	margin: 0;
	padding: 0;
	width: 100%;
}
